:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --alt-text-cl: #ffffff;
  --alt-title-cl: #ffffff;
  --accentc-cl: #2196f3;

  --dark-bg: #2f303a;
  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-section {
  display: flex;
  align-items: center;
  border-radius: 1px solid #2196f3;
}

.nav-section .list {
  display: flex;
}
/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */
.list .carent {
  color: #2196f3;
}
.logo-header {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #806868;
}

.logo-footer {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--alt-text-cl);
}

.link-web {
  margin-right: 93px;
  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  text-decoration: none;
  color: #2196f3;
}

.link-info {
  color: var(--main-text-cl);
  text-decoration: none;
}

.link-info:hover,
.link-info:focus,
.link-nav:hover,
.link-nav:focus {
  color: var(--accentc-cl);
}

.link-nav {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
}

.nav-list {
  margin-right: auto;
}

.menu-item:not(:last-child),
.list-info:not(:last-child) {
  margin-right: 50px;
}
.section-button {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}
.btn-studio {
  min-width: 200px;
  padding: 10px 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accentc-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.list {
  list-style: none;
  color: #000000;
  margin: 0;
  padding-left: 0;
  display: flex;
}
.next-list {
  display: flex;
  margin-right: calc(-1 * 30px);
}

.next-list > .next-list-item {
  flex-basis: calc(100%-4 * 30px / 4);
  margin-right: 30px;
}

.adres {
  font-style: inherit;
}

.section-button {
  background: #2f303a;
}

.page-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 696px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.title-h2 {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.next-section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.section-3 {
  padding-top: 0;
}

.section-3-list {
  display: flex;
  margin-right: calc(-1 * 30px);
}
.section-3-list > .section-3-list-item {
  margin-right: calc(100% - 3 * 30px / 3);
  margin-right: 30px;
}

.title-h3 {
  min-width: 270px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-cl);
}

.title-h3-team {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--title-cl);
}

.text {
  min-width: 270px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

footer {
  background-color: #2f303a;
}

.text-adres {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.link-ex,
.link-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
